  <div class="row">
    <div class="large-10 centerall"; style="font-family:Russo One; margin-top:180px; margin-bottom:40px; font-size:760%; font-weight:normal; opacity:.15;">
      WTA
    </div>
    <div class="large-10 acrofont centerall"; style="margin-top:-134px; margin-bottom:40px; font-size:380%; font-weight:normal;">
      Welcome to AcroParty!
    </div>
  </div>
  <div class="row">
    <div class="large-8 centerall"; style="margin-top:100px;">
      AcroParty (currently in alpha)</br>
      <%= link_to "Sign in", new_user_session_path %>
      or
      <%= link_to "Sign up", new_user_registration_path %>
    </div>
  </div>
